@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
  :root {
    --background: #0A0A0B;
    --foreground: #FAFAFA;
    --card: #0A0A0B;
    --card-foreground: #FAFAFA;
    --popover: #0A0A0B;
    --popover-foreground: #FAFAFA;
    --primary: #2BD15F;
    --primary-foreground: #0D2011;
    --secondary: #262626;
    --secondary-foreground: #FAFAFA;
    --muted: #262626;
    --muted-foreground: #A1A1A1;
    --accent: #262626;
    --accent-foreground: #FAFAFA;
    --destructive: #7D1A1A;
    --destructive-foreground: #FAFAFA;
    --border: #262626;
    --input: #262626;
    --ring: #1B7A2E;
    --text-grey: #CECFD2;   
    --text-white: #F5F5F6;  
  }
} */
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: rgb(191 219 254, 1);
  }

  ::-webkit-scrollbar-thumb {
    background: #e5e7eb; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ccc; /* Color of the thumb on hover */
  }
}

.card-hover {
  @apply transition-all duration-300 hover:scale-[1.02] hover:shadow-lg;
}

.stats-gradient {
  background: #27272727;
}

.secondary {
    background: #27272727;
  }

.vip-gradient {
  background: #27272727;
}

input::placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"] {
  min-width: 80px;
}

input[type="checkbox"] {
  background-color: transparent !important; /* Set background to transparent */
  border: 2px solid #272727; /* Set border width to 2px and specify color */
}

